<div class="sidebar-wrapper">
    <div class="logo">
        <a href="javascript:void(0)" class="simple-text logo-mini">
            CT
        </a>
        <a href="javascript:void(0)" class="simple-text logo-normal">
            Creative Tim
        </a>
    </div>
    <ul class="nav">
        <li class="active ">
            <a href="/web/">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="/web/aulas">
                <i class="tim-icons icon-atom"></i>
                <p>Aulas</p>
            </a>
        </li>
        <li>
            <a href="/web/carreras">
                <i class="tim-icons icon-pin"></i>
                <p>Carreras</p>
            </a>
        </li>
        <li>
            <a href="/web/cursos">
                <i class="tim-icons icon-bell-55"></i>
                <p>Cursos</p>
            </a>
        </li>
        <li>
            <a href="/web/grupos">
                <i class="tim-icons icon-single-02"></i>
                <p>Grupos</p>
            </a>
        </li>
        <li>
            <a href="/web/horarios">
                <i class="tim-icons icon-puzzle-10"></i>
                <p>Horario</p>
            </a>
        </li>
        <li>
            <a href="/web/horariosPersonas">
                <i class="tim-icons icon-align-center"></i>
                <p>Horario Personas</p>
            </a>
        </li>
        <li>
            <a href="/web/personas">
                <i class="tim-icons icon-world"></i>
                <p>Personas</p>
            </a>
        </li>
        <li class="active-pro">
            <a href="./upgrade.html">
                <i class="tim-icons icon-spaceship"></i>
                <p>Upgrade to PRO</p>
            </a>
        </li>
    </ul>
</div>